* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    height: 300px;
    width: 400px;
    background: #09042A;
}

.circle1 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #7B3F61;
    position: absolute;
    top: 25%;
    left: 73px;
}
 .circle2 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #E78481;
    position: absolute;
    top: 25%;
    right: 73px;
   overflow : hidden;
}
  
  .circle2:before {
    content : '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #09042A;
    position: absolute;
    left: -103px;
  }